body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  position: fixed;
  background: #200802;
  padding: 20px;
  width: 100%;

  height: 30px;
}

.left-area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left-area span {
  color: #ff4010;
}

.logout-btn {
  padding: 5px;
  background: #bf300c;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 50px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  transition: 0.2s;
  transition-property: background;
}

.logout-btn:hover {
  background: #df380e;
}

.sidebar {
  background-color: #401004;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.2s;
  transition-property: left;
}

.sidebar .profile-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: white;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.2s;
  transition-property: background;
}

.sidebar a:hover {
  background: #df380e;
}

.sidebar a img {
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.border-show {
  border: 5px solid green;
}

.menu-icon {
  border-radius: 4px;
}

label #sidebar-btn {
  z-index: 1;
  position: fixed;
  left: 300px;
  cursor: pointer;
  background-image: url("../img/hamburger-black.png");
  height: 32px;
  width: 32px;
  transition: 0.2s;
  transition-property: background-image;
}

label #sidebar-btn:hover {
  background-image: url("../img/hamburger-white.png");
}

#check:checked ~ .sidebar {
  left: -190px;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  margin-left: 160px;
  width: 90px;
}

#check:checked ~ .sidebar a img {
  width: 36px;
}

.content {
    margin-left: 250px;
    background-color: #ccc;
    background-position: center; 
    background-size: cover;
    height: 100vh;
    transition: 0.2s;
}

#check:checked ~ .content {
    margin-left: 60px
}

#check {
    display: none;
}