@media screen and (min-width: 900px) {
  body {
    width: 900px;
  }
}

* {
  margin: 0px;
  box-sizing: border-box;
}

html {  
  font-size: 12px;     
  background-color: lightgray;  
}

body {
  background-color: white; 
  margin: 0px auto 0px auto;  
  padding: 0px 5px;  
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: #000000;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

ul {
  margin-bottom: 15px;
}

li {
  font-size: 1.25rem;
}

/* nav {
  display: flex;
  align-items: center;
} */

header {
  border: 1px solid blue;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 10px;
}

.btn-nav {  
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  min-width: 128px;
  border-style: solid;
  margin: 5px 5px 5px 0px;  
}

    .btn-nav.git {
        background-color: lightblue;
    }

button:hover {
  background-color: lightblue;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  html {    
    font-size: 14px;    
  }
 
  nav {
      display: flex;
      flex-direction: column;
  }
}
