* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  text-align: center;
  background-color: lightgray;
  margin: 0px;
  padding: 0px;
}
/* 
.page {
  text-align: left;
  background-color: lightgray;
  margin: 0px auto 0px auto;
} */

h1 {
  font-size: 2rem;
  text-align: center;
  color: #000000;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

li {
  font-size: 1.25rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  flex: 1;
  font-size: 1rem;
  margin: auto 10px;
}

@media screen and (max-width: 600px) {
  html {
    width: 600px;
  }
}
